/* DESKTOP HEADER */
nav div {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 10px;
}
nav div .header__location {
  margin: 0;
  height: 50px;
}
.header__location {
  color: rgb(122, 122, 122);
  height: 80px;
}
nav {
  width: 78vw;
}

/* MAIN DESKTOP */
.main__company--info {
  transform: scale(1.1);
}
.main__about::-webkit-scrollbar {
  display: flex;
}
.main__contact--boxes {
  flex-direction: row;
}
.main__contact--boxes a {
  margin: 10px;
}
.main__samples {
  height: 295px;
}
.main__samples::-webkit-scrollbar {
  display: flex;
}
.main__samples--container {
  margin: 10px;
}
/* CHANGE THE WAY SAMPLES LOOK ON DESKTOPS, USE GRID */