:root {
  --principal-color: #53341f;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
}

/* HEADER */
header {
  height: 70px;
  background-color: black;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 4px solid #8f6040;
  position: sticky;
}
header img {
  width: 60px;
  margin-inline-start: 10px;
}
nav {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__button {
  background-color: #8f6040;
  width: 90px;
  height: 50px;
  border: 4px solid #53341f;
  border-radius: 10px;
  margin-inline-end: 10px;
}
