/* UNIVERSAL */
:root {
  --principal-color: #53341f;
  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Staatliches', cursive;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  font-family: var(--primary-font);
  background-color: rgb(245, 245, 245);
}
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: #8f6040;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--principal-color);
}

/* HEADER */
header {
  height: 80px;
  background-color: black;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 4px solid #8f6040;
  position: sticky;
  font-family: var(--primary-font);
}
header img {
  width: 68px;
  margin-inline-start: 10px;
}
.header__button {
  background-color: #8f6040;
  width: 90px;
  height: 50px;
  border: 4px solid #53341f;
  border-radius: 10px;
  margin-inline-end: 10px;
}
nav {
  width: 63%;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN */
.main__company--container {
  width: 100%;
  height: 75vh;
  background-image: url("../resources/local.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__company--info {
  width: 290px;
  color: white;
  padding: 15px;
  border: 5px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 120px;
}
.main__company--info h1 {
  font-size: 4rem;
  margin-block-end: 10px;
  font-family: var(--secondary-font);
}
.main__company--info p {
  font-size: 1.7rem;
  text-align: center;
  font-weight: 500;
}

.main__products--title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main__products--title h2 {
  margin-block-start: 20px;
  margin-block-end: 10px;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgb(89 73 30 / 16%);
}

.main__samples {
  height: 340px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  overflow-y: hidden;
  background-color: rgb(245, 245, 245);
}
.main__samples::-webkit-scrollbar {
  display: none;

  /* HACER CAMBIO PARA CUANDO SEA DESKTOP */

}
.main__samples--container {
  scroll-snap-align: center;
  min-width: 230px;
  height: 300px;
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: 6px 6px 6px rgb(89 73 30 / 16%);
}
.main__samples--container div {
  width: 100%;
  height: 210px;
  background-image: url("../resources/oblea.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.main__samples--container h2 {
  margin-block-start: 20px;
  font-size: 1.8rem;
  padding: 0 15px;
}
.main__samples--container p {
  margin-block-start: 5px;
  font-size: 1.2rem;
  padding: 0 15px;
}
