/* UNIVERSAL */
:root {
  --principal-color: #53341f;
  --primary-font: 'Lato', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
}

/* HEADER */
header {
  height: 80px;
  background-color: black;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 4px solid #8f6040;
  position: sticky;
  font-family: var(--primary-font);
}
header img {
  width: 68px;
  margin-inline-start: 10px;
}
.header__button {
  background-color: #8f6040;
  width: 90px;
  height: 50px;
  border: 4px solid #53341f;
  border-radius: 10px;
  margin-inline-end: 10px;
}
nav {
  width: 63%;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN */
.main__company--container {
  width: 100%;
  height: 100vh;
  background-image: url("../resources/local.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__company--info {
  width: 280px;
  color: white;
  padding: 30px;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__company--info h1 {
  font-size: 2rem;
}
